/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
#wood {
  width: 100%;
}

img[alt*="crown"] {
	position: absolute;
	width: 2%;
	float: left;
	margin-left: 1%;
}

#kids_shoes {
  margin-bottom: 2%;
}

#featured {
  float: left;
  width: 65.5%;
  margin-bottom: 1%;
}

#shoe_archive {
  float: right;
  width: 32%;
  height: 10%;
  margin-bottom: 1%;
}

#ladybug {
  height: 360px;
  width: 32%;
  float: left;
  margin: 1%;
  margin-left: 0%;
}

#skater {
  height: 360px;
  width: 32%;
  float: left;
  margin: 1%;
}

#heel {
  height: 360px;
  width: 32%;
  float: left;
  margin: 1%;
  margin-right: 0%;
}

#contact {
  float: left;
  padding-right: 15%;
}

#links {
  float: left;
  padding-left: 2%;
  padding-right: 10%;
}

#follow {
  float: left;
  padding-left: 2%;
}

#deals .clearfix {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}

#details .clearfix {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
